[submodule "averagesecurityguy"]
	path = averagesecurityguy
	url = https://github.com/averagesecurityguy/scripts
[submodule "NessusParser-Excel"]
	path = NessusParser-Excel
	url = https://github.com/TerminalFi/NessusParser-Excel
