[submodule "averagesecurityguy"]
	path = averagesecurityguy
	url = https://github.com/averagesecurityguy/scripts
[submodule "NessusParser-Excel"]
	path = NessusParser-Excel
	url = https://github.com/TerminalFi/NessusParser-Excel
[submodule "nse/vulscan"]
	path = nse/vulscan
	url = https://github.com/scipag/vulscan
[submodule "powershell/adaudit"]
	path = powershell/adaudit
	url = https://github.com/phillips321/adaudit
[submodule "powershell/ADInspect"]
	path = powershell/ADInspect
	url = https://github.com/soteria-security/ADInspect
[submodule "powershell/ADRecon"]
	path = powershell/ADRecon
	url = https://github.com/adrecon/ADRecon
[submodule "powershell/AzureADRecon"]
	path = powershell/AzureADRecon
	url = https://github.com/adrecon/AzureADRecon
[submodule "powershell/DomainPasswordSpray"]
	path = powershell/DomainPasswordSpray
	url = https://github.com/dafthack/DomainPasswordSpray
[submodule "powershell/Grouper"]
	path = powershell/Grouper
	url = https://github.com/l0ss/Grouper
[submodule "powershell/Invoke-Obfuscation"]
	path = powershell/Invoke-Obfuscation
	url = https://github.com/danielbohannon/Invoke-Obfuscation
[submodule "powershell/Invoke-Vnc"]
	path = powershell/Invoke-Vnc
	url = https://github.com/klsecservices/Invoke-Vnc
[submodule "powershell/MailSniper"]
	path = powershell/MailSniper
	url = https://github.com/dafthack/MailSniper
[submodule "powershell/mimikittenz"]
	path = powershell/mimikittenz
	url = https://github.com/orlyjamie/mimikittenz
[submodule "powershell/nishang"]
	path = powershell/nishang
	url = https://github.com/samratashok/nishang
[submodule "powershell/O365HTMLReport"]
	path = powershell/O365HTMLReport
	url = https://github.com/bwya77/O365HTMLReport
[submodule "powershell/MSOLSpray"]
	path = powershell/MSOLSpray
	url = https://github.com/dafthack/MSOLSpray
[submodule "powershell/PSHTML-AD-Report"]
	path = powershell/PSHTML-AD-Report
	url = https://github.com/bwya77/PSHTML-AD-Report
[submodule "powershell/SessionGopher"]
	path = powershell/SessionGopher
	url = https://github.com/Arvanaghi/SessionGopher
[submodule "powershell/Windows-Workstation-and-Server-Audit"]
	path = powershell/Windows-Workstation-and-Server-Audit
	url = https://github.com/alanrenouf/Windows-Workstation-and-Server-Audit
[submodule "powershell/WINspect"]
	path = powershell/WINspect
	url = https://github.com/A-mIn3/WINspect
[submodule "powershell/Office-365-Extractor"]
	path = powershell/Office-365-Extractor
	url = https://github.com/PwC-IR/Office-365-Extractor
